<% title = "New need" %>
<br />
<% form_for @need do |f| %>
  <fieldset>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </fieldset>
  <fieldset>
  	<%= f.label :contents, "Content" %>
  	<%= f.text_area :contents %>
  </fieldset>
	<div class="button">
	  <%= link_to 'Create', nil, :class => 'submit_button rc6'  %>
	</div>
<% end %>

